<!DOCTYPE html>
{% load static %}
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Grid</title>
    {% load static %}
    <!-- 将 Tailwind CSS 输出到这个目录 -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
</head>

<body class="h-screen flex justify-center items-center">
    <div class="w-3/5 m-auto">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow shadow-lg" src="{{ photo_1 }}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full shadow" src="{{ photo_2 }}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow" src="{{ photo_3 }}" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow" src="{{ photo_4 }}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow" src="{{ photo_5 }}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow" src="{{ photo_6 }}" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow" src="{{ photo_7 }}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow" src="{{ photo_8 }}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow" src="{{ photo_9 }}" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow" src="{{ photo_10 }}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow" src="{{ photo_11 }}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg shadow" src="{{ photo_12 }}" alt="">
                </div>
            </div>
        </div>
    </div>

</html>